.Weather {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(14, 0, 59, 1) 20%,
    rgba(0, 212, 255, 1) 100%
  );
  color: aliceblue;
  padding: 20px;

  border-radius: 4px;
}
div.Weather {
  margin: 0 auto;
}

.Weather,
h1 {
  font-size: 24px;
}

.Weather,
h2 {
  font-size: 22px;
  padding: 16px;
}

.Form {
  font-size: 18px;
  line-height: 26px;
  margin-left: -40px;
  border-radius: 4px;
}

div.Form {
  margin-left: -20px;
  padding: 25px;
}

.Form,
input.city-control {
  font-size: 16px;
  font-weight: bold;
  margin-left: 30px;
}

div.col-3.first {
  width: 200px;
}
div.col-3.second {
  width: 200px;
}
.Weather,
ul {
  list-style: none;
  font-size: 16px;
}

li.description {
  color: white;
  margin-left: 10px;
}
